/* body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: navy;
    font-size: 50px;
}

p {
    color: darkred;
    font-size: 17px;
} */


body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
}

h1 {
    color: #007BFF;
    font-size: 50px;
}

h2 {
    color: #333;
    font-size: 30px;
}

p {
    font-size: 20px;
    color: #555;
}

img {
    border-radius: 50%;
    border: 5px solid #007BFF;
}

a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #FF4500;
    text-decoration: underline;
}
